<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <br>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hello! I am Angela Shen, a student at Northeastern University pursuing a Bachelor of Science degree in Computer Science and Computer Engineerin with the anticipating graduation date of May 2024. 
        </p>
        <p>Through my academic years, I accumulated work experiences at institutes such as BlockTest LLC, Harvard CAMLab, and MIT Lincoln LAB. 
          Aside from external internships and CO-OPs, I am also a Teaching Assistant for CS2800 (Logic and Computations) and Peer Tutor at Northeastern University. 
        </p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</section>
